.App {
  display: flex;
  margin: auto;
  max-height: 100vh;
  flex-direction: column;
  align-items: center;
}

  h1 {
    font-family: 'Permanent Marker', cursive;
    display: flex;
    font-size: 4rem;
    font-weight: bold;
    margin: 1rem;
    color: lightgray;
  }

  p {
    margin: 1rem;
    font-family: 'Permanent Marker', cursive;
  }

  button {
    display: flex;
    background: none;
    border: 0.13rem solid #bd3c2e;
    padding: 0 0.75rem;
    border-radius: 4px;
    font-family: 'Permanent Marker', cursive;
    color: #bd3c2e;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
  }

    button:hover {
      background: #bd3c2e;
      color: #fff;
    }

  .card-grid {
    max-height: 100vh;
    display: grid;
    max-width: 60vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
  }